body {
    max-width: 1024px;
    margin: 0 auto;
    background-color: royalblue;
  }
  
  #game-board {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #title {
    text-align: center;
    background-color: white;
  }
  
  .game-text {
    text-align: center;
    font-weight: bolder;
    font-size: 2.5rem;
    padding-top: 2rem;
  }
  
  #buttons-div {
    text-align: center;
    display: flex;
    justify-content: space-around;
  }
  
  button {
    background-color: rgb(219, 85, 174);
    text-align: center;
    font-size: 4rem;
    padding: 1.5rem;
  }
  
  #rockBtn {
    background-color: #ff4d4d;
  }
  
  #paperBtn {
    background-color: lightskyblue;
  }
  
  #scissorsBtn {
    background-color: rgba(223, 236, 34, 0.795);
  }
  
  button:hover {
    background-color: rgb(10, 130, 241);
  }
  
  span {
    font-weight: bolder;
    font-size: 2rem;
  }
  
  #score {
    text-align: center;
    border: 3px solid white;
    background-color: rgb(212, 5, 50);
    margin-left: 25%;
    margin-right: 25%;
  }
  
  .result-div {
    display: flex;
    justify-content: center;
  }
  #result_display {
    background-color: royalblue;
    width: 55%;
    padding: 10rem;
  }
  
  #result {
    text-align: center;
    font-size: 4.5rem;
  }
  
  #user {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 2rem;
  }
  
  #computer {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 2rem;
  }
  
  #resetBtn {
    background-color: red;
  }
  
  .reset-div {
    display: flex;
    justify-content: center;
  }
  